*{
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: Montserrat;
}
.firstBlock {
  background-image: url(./img/3f04b439c00394b0255a3d65450eb27d.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.container{
  background-color: rgba(94, 93, 88, 0.6);
}
.wrapper {
  max-width: 1160px;
  margin: auto;
}
.logo {
  display: flex;
  align-items: center;
  position: relative;
}
.greenText {
  color: rgba(24, 207, 171, 1);
  font-weight: 700;
}
.headNav {
  height: 120px;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  justify-content: space-between;
}
.text {
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  position: absolute;
  left: 13px;
  font-weight: 700;
}
.nameLog {
  margin-left: 6px;
}
.rightSide {
  display: flex;
  align-items: center;
}
.leftSide{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.leftSide>a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
a:hover {
  color:rgba(24, 207, 171, 1);
}
.navTitle {
  margin-right: 21px;
}
.sloganContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: calc(100vh - 60px)
}
.firstLine {
  font-size: 35px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 22px;
}
.greenTitle {
  color: rgba(24, 207, 171, 1);
  font-weight: 700;
}
.secondLine {
  font-size: 78px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 22px;
}
.thirdLine {
  color: rgba(212, 212, 212, 1);
  font-size: 34px;
}
.buttons {
  display: flex;
  color: rgba(255, 255, 255, 1);
  justify-content: center;
  margin-bottom: 243px;
}
.firstButton {
  display: flex;
  background-color: rgba(24, 207, 171, 1);
  width: 169px;
  height: 63px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top: 5px solid rgba(255, 255, 255, 1);
  margin-right: 26px;
  font-weight: 700;
  font-size: 15px;
}
.secondButton {
  display: flex;
  background-color: rgba(0, 203, 246, 1);
  width: 169px;
  height: 63px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top: 5px solid rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 15px;
}
.benefits {
  display: flex;
}
.option {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(28, 42, 51, 1);
  color: rgba(24, 207, 171, 1);
  width: 482px;
  height: 377px;
  font-size: 20px;
  font-weight: 700;
}
.custom {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
  width: 482px;
  height: 377px;
  font-size: 20px;
  font-weight: 700;
}
.support {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(28, 42, 51, 1);
  color: rgba(24, 207, 171, 1);
  width: 482px;
  height: 377px;
  font-size: 20px;
  font-weight: 700;
}
.responsive {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
  width: 482px;
  height: 377px;
  font-size: 20px;
  font-weight: 700;
}
.image {
  padding-bottom: 47px;
}
.image2 {
  padding-bottom: 65px;
}
.tabTitle {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 36px;
  color: rgba(78, 78, 78, 1);
  margin-top: 83px;
}
.firstStick {
  border-top: 1px solid rgba(24, 207, 171, 1);
  width: 75.54px;
  margin-bottom: 1px;
  margin-top: 24px;
}
.secondStick {
  border-top: 1px solid rgba(24, 207, 171, 1);
  width: 78px;
  margin-left: 11px;
  margin-bottom: 68px;
}
/* tab */
.tab {
  border: 1px solid #ccc;
  background-color: rgba(237, 239, 239, 1);
  max-width: 1160px;
  margin: auto;
  display: flex;
}
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 16px;
  margin: auto;
}
.tab button:hover {
  border: 1px solid rgba(24, 207, 171, 1);
}
.tab button.active {
  background-color: rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  font-weight: 300;
  font-size: 13.64px;
  color: rgba(119, 119, 119, 1);
  line-height: 24.37px;
  margin: auto;
  max-width: 1160px;
  margin-top: 23px;
}
.tabs-title {
  width: 192px;
  height: 72px;
  color: rgba(113, 113, 113, 1);
  line-height: 39px;
  font-size: 16px;
}
.tab button.active::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(24, 207, 171, 1);
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%);
}
.tabContainer {
  display: flex;
}
.pict {
  width: 192px;
  height: 139px;
  margin-right: 5px;
}
.tabWrapper {
  margin-bottom: 91px;
}
.section {
  background-image: url(./img/Layer\ 21\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sectionTitle {
  color: rgba(24, 207, 171, 1);
  font-weight: 700;
  font-size: 40px;
  line-height: 40.46px;
  margin-top: 126.78px;
  margin-bottom: 12.22px;
}
.subTitle {
  color: rgba(216, 216, 216, 1);
  margin-bottom: 62px;
}
.sectionButton {
  display: flex;
  background-color: rgba(24, 207, 171, 1);
  width: 169px;
  height: 63px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top: 5px solid rgba(255, 255, 255, 1);
  margin-bottom: 127px;
  font-weight: 700;
  font-size: 15px;
  line-height: 42.04px;
  color: rgba(255, 255, 255, 1);
}
.tabTitle2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 36px;
  color: rgba(78, 78, 78, 1);
}
/* tab 2 */
.thirdSection {
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 237, 239, 1);
  padding-top: 95px;
}
.secondTab {
  display: flex;
  justify-content: center;
  width: 582px;
  height: 58px;
  font-size: 14px;
  margin: auto; 
}
.tabsWork {
  color: rgba(113, 113, 113, 1);
  border: solid 1px rgba(218, 218, 218, 1);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px 15px 0px 15px;
  min-width: 59px;
}
.secondTab li:hover {
  border: solid 2px rgba(24, 207, 171, 1);
  color: rgba(24, 207, 171, 1);
}
.loadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 168px;
  height: 63px;
  background-color: rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 42px;
  margin-top: 70px;
  margin-bottom: 99px;
  border-color: rgba(24, 207, 171, 1);
}
.load {
  padding-left: 15px;
}

.gimgs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 71px;
}
.ulImg {
  position: relative;
}
.imgHover {
  display: none;
}
.loaderImg {
  width: 285px;
  height: 206px;
}
.imgHover {
  align-items: center;
  text-align: center;
  align-self: center;
  position: absolute;
  background-color: rgba(233, 237, 239, 1);
  width: 285px;
  height: 206px;
  border-top: 6px solid rgba(24, 207, 171, 1);
  top: 0;
  left: 0;
}
.ulImg:hover .imgHover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
}
.hoverIcon {
  margin-bottom: 25px;
}
.hoverFirst {
  color: rgba(24, 207, 171, 1);
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}
.hoverSecond {
  color: rgba(138, 138, 138, 1);
  font-size: 12px;
  font-weight: 300;
}
/* tabs2 end */
.news {
  padding-top: 82px;
  margin: auto;
  max-width: 1160px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 129px;
}
.newsTitle {
  font-weight: 400;
  font-size: 36px;
  color: rgba(78, 78, 78, 1);
}
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 263px);
  grid-template-areas:
  "item1 item2 item3 item4"
  "item5 item6 item7 item8";
  text-align: center;
  grid-gap: 37px 30px;
}
.gridBlock{
   display: block;
}
.gridImg {
  width: 263px;
  height: 208px;
  }
  .gridTitle {
  color: rgba(113, 113, 113, 1);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 3px;
}
.gridComment {
  color: rgba(119, 119, 119, 1);
  font-weight: 300;
  font-size: 14px;
}
.gridContainer:hover p {
  color: rgba(24, 207, 171, 1);
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(32, 62, 56, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 16px;
  width: 70px;
  height: 68px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.gridContainer {
  position: relative;
}
.gridContainer:hover .date {
  background-color: rgba(24, 207, 171, 1);
}
.aboutReel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 98px;
  background-image: url(./img/Layer\ 333.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 300px;
}
.aboutTitle {
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    font-weight: 400;
}
/* carusel*/
.testim .wrap {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}
.testim .arrow  {
  display: block;
  position: absolute;
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
  color: rgba(187, 187, 187, 1);
}
.testim .arrow:before {
  cursor: pointer;
}
.testim .arrow:hover {
  color: rgba(24, 207, 171, 1);
  border: 1px solid rgba(24, 207, 171, 1);
}
.testim .arrow.left {
  left: 300px;
}
.testim .arrow.right {
  right: 300px;
}
.arrow {
  border: 1px solid rgba(187, 187, 187, 1);
}
.testim .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
}
.thumbnail {
  width: 58px;
  height: 58px;
}
.testim .dots .dot {
  list-style-type: none;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(31, 218, 181, 0.2);
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.firstSlide {
  object-fit: fill;
  width: 61px;
  height: 61px;
}
.testim .dots .dot.active,
.testim .dots .dot:hover {
  background: rgba(24, 207, 171, 1);
  border-color: rgba(24, 207, 171, 1);
}
.testim .dots .dot.active {
  animation: testim-scale 0.5s ease-in-out forwards;
  top: -10px;
}
.testim .cont {
  position: relative;
  overflow: hidden;
}
.testim .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}
.testim .cont > div.inactive {
  opacity: 1;
}
  
.testim .cont > div.active {
  position: relative;
  opacity: 1;
}
.testim .cont div .img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}
.testim .cont div h2 {
  color: rgba(24, 207, 171, 1);
  font-size: 1em;
  margin: 15px 0;
}
.testim .cont div h3 {
  font-size: 16px;
  margin: 15px 0;
  color: rgba(187, 187, 187, 1);
}
.testim .cont div p {
  font-size: 1.15em;
  color: #eee;
  width: 80%;
  margin: auto;
}
.testim .cont div.active .img img {
  animation: testim-show 0.5s ease-in-out forwards;
}
  
.testim .cont div.active h2 {
  animation: testim-content-in 0.4s ease-in-out forwards;
}
.testim .cont div.active h3 {
  animation: testim-content-in 0.4s ease-in-out forwards;
}
  
.testim .cont div.active p {
  animation: testim-content-in 0.5s ease-in-out forwards;
}
.testim .cont div.inactive .img img {
  animation: testim-hide 0.5s ease-in-out forwards;
}
.testim .cont div.inactive h2 {
  animation: testim-content-out 0.4s ease-in-out forwards;
}
.testim .cont div.inactive h3 {
  animation: testim-content-out 0.4s ease-in-out forwards;
}
.testim .cont div.inactive p {
  animation: testim-content-out 0.5s ease-in-out forwards;
}

  @keyframes testim-scale {
    0% {
      box-shadow: 0px 0px 0px 0px #eee;
    }
  
    35% {
      box-shadow: 0px 0px 10px 5px #eee;
    }
  
    70% {
      box-shadow: 0px 0px 10px 5px rgba(24, 207, 171, 1);
    }
  
    100% {
      box-shadow: 0px 0px 0px 0px rgba(24, 207, 171, 1);
    }
  }

  @keyframes testim-content-in {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes testim-content-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
  
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  @keyframes testim-show {
    from {
      opacity: 0;
      transform: scale(0);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes testim-hide {
    from {
      opacity: 1;
      transform: scale(1);
    }
  
    to {
      opacity: 0;
      transform: scale(0);
    }
  }
  
  @media all and (max-width: 300px) {
    body {
      font-size: 14px;
    }
  }
  
  @media all and (max-width: 500px) {
    .testim .arrow {
      font-size: 1.5em;
    }
  
    .testim .cont div p {
      line-height: 25px;
    }
  }
  #hiddenImage {
      display: none;
  }
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  height: 121px;
  background-color: rgba(34, 53, 63, 1);
  color: rgba(174, 174, 174, 1);
  font-size: 14px;
  font-weight: 300;
}
.greenFooter {
  color: rgba(24, 207, 171, 1);
}